body {
    background-image: url("img/concordian_cityscape_by_seerlight_dch36q1-fullview.jpg");
 
   }

.row {
    background-color: transparent;
}

.col-sm {
    border-radius: 15px 15px 15px 15px;
    background: rgb(204, 204, 204); /* Frank is a bot Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.6);
}
   
.h2{
       color: cornsilk;
   }

.transparent{
    opacity: 0.5;
}
.transparent:hover{
    opacity: 0.5;
    
}.div{
    display: block;
}
.text-index-column {
    margin-bottom: 10px;
}
.text-profile {
    width: 50%;
}
.text-inside {
    background: #333;
    background-position: top;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.layout-page-content {
    flex-grow: 1;
    padding-top: 10px;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.iframe {
    resize: vertical;
    overflow: hidden;
}

.jumbotron-jumbotron-fluid{
    padding: 60px;
    text-align: left;
    background: #000a08;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.text-index-container {
    padding-top: 15px;
}

.youtube{
    position: absolute;
    left: 1000px;
    bottom: 50px;
}

.nav-button {
    background-color: transparent;
  border: none;
  color: #9a9da0;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 
}
.text-inside {
    background: #333;
    background-position: top;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.youtube2{
    position: absolute;
    left: 1250px; 
    bottom: 50px;
}
/*
fuck this shit
*/
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
